@font-face{
  font-family: Outerspace;
  src: url("https://insights.som.yale.edu/sites/default/files/styles/max_2600x2600/public/2022-10/space.jpeg?itok=ZYNlzGF7");
}

body {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(24, 81, 135);
  margin: auto;
  font-family: Outerspace;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://insights.som.yale.edu/sites/default/files/styles/max_2600x2600/public/2022-10/space.jpeg?itok=ZYNlzGF7");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



